<!DOCTYPE html>
<html>
<head>
  <title>Okpanda</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<a href="/?switch_user=1" style='font-size: small; float:right; display: block'>Current user: (<%= current_user.email %>) Switch randomly?</a>

<%= yield %>

</body>
</html>
